name: CI/CD

on:
  push:
  pull_request:

env:
  AWS_REGION : "eu-west-1"

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Check index.html
        run: test -f src/index.html

  deploy:
    runs-on: ubuntu-24.04
    if: github.ref == 'refs/heads/main'
    needs: test
    concurrency: deploy-test
    env:
      AWS_S3_BUCKET_NAME : 'noi-web-automotive-uas'
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Sync to S3 bucket
        uses: noi-techpark/github-actions/aws-s3-bucket-sync@v2
        with:
          access-key-id: ${{ secrets.AWS_NOI_WEB_S3_ACCESS_KEY_ID }}
          secret-access-key: ${{ secrets.AWS_NOI_WEB_S3_SECRET_ACCESS_KEY }}
          region: ${{ env.AWS_REGION }}
          s3-bucket-name: ${{ env.AWS_S3_BUCKET_NAME }}
          folder: ./src